<% if @ad.image_urls.any? %>
  <div id="thumbs">
    <% @ad.image_urls.each do |img| %>
      <div class="col-xs-3 thumb">
        <%= ad_image @ad, img %>
      </div>
    <% end %>
  </div>
<% end %>