 <div class="panel panel-default">
  <div class="panel-body">

     <div id="big_images">
       <%= render 'ads/show/images/big_images' %>
    </div>

    <%= render 'ads/show/images/thumb_images' %>

  </div>
</div>