/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) { 
  #ad_show{
    .panel{
      margin-bottom: 0px;
    }    
    #user_overview, #car_details{
      position: absolute;
      left: 0;
      bottom: 9px;
      top: 9px;
      overflow-y: auto;
      .panel{
        height: 100%;
      }
    }
    #car_details{
      left: 25%;
    }
  }
}

#ad_show{
  .title{
    margin: 0;
    font-size: 1.7em;
    color: #f4645f;
  }
  .back_to_search{
    padding-top: 2px;
    padding-left: 0px;
    color: #5A5A5A;
    font-size: 1.2em;
  }
  .no_background{
    background-color: transparent;
  }
  .internal-section{
    padding: 0 5px;
    .panel-body{
      padding: 9px;
    }
  }
  #main-panel-body{
    position: relative;
    padding: 10px 4px;
    #image_section{
      #big_images{
        .big_image{
          width: 100%;
          display: none;
          img{
            width: 100%;
            min-height: 294px;
            border: 1px solid #D3D3D3;
            padding: 1px;
            border-radius: 3px;
          }
        }
        .big_image:first-child{
          display: block;
        }
      }
      #thumbs{
        border: 2px solid #EEE;
        overflow: hidden;
        .thumb{
          padding: 3px;
          img{
            border: 2px solid #DBDBDB;
            padding: 1px;
            border-radius: 2px;
          }
          .active{
            border: 2px solid #855EFF;
          }
        }

      }
    }//#image_section
  } //#main-panel-body
  #recommended_ads-panel-body{
    padding: 1px 7px 7px 4px;
    .recommended_ad{
      a{
        color: #111;
        .panel-body{
          &:hover {
            background: #e6e6e6;
          }
        }
        .panel-body {
          padding: 4px;
          img{
            width: 134px;
            height: 100px; 
            border: 1px solid #D3D3D3;
            padding: 1px;
            border-radius: 3px;
          }
          p{
            font-size: .8em;
          }
        }
      }
    }
  }
}

.my_active img{
  border: 2px solid #f4645f !important;
}
