// @font-face {
//   font-family: 'Glyphicons Halflings';
//   src: url('../assets/glyphicons-halflings-regular.eot');
//   src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
//        url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
//        url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
//        url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
// }


@font-face {
  font-family: 'B Koodak';
  src: local('☺'),
       local('B Koodak'),
       // url('http://awebfont.ir/services/fonts/202b9296acdd7c9e95dbd4cb66be7224c7a939191901931.woff') format('woff');
       url('BKoodakBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'B Yekan';
//   src: local('☺'),
//        local('B Yekan'),
//        url('http://awebfont.ir/services/fonts/683a5dddcff7f1cbb08d964cc275cb50ce7840291901931.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

* {
  font-family: 'B Koodak', verdana, arial, helvetica, sans-serif !important;
}