#header{
  position: relative;
  #siteName{
    position: absolute;
    left: 21052px;
  }
  #slogan{
    position: absolute;
    bottom: -2px;
    left: 0;
    font-size: 1.4em;
    color: #B9B8B8;
  }
}