<div id="header">
  <a href="<%= root_path %>"  > 
    <%= image_tag("#{IMAGES_PATH}logo.gif" , class: "", alt: t("slogan")) %> 
  </a>

  <h1 id="siteName"><%= t('otoyabi') %></h1>
  <h2 id="slogan"><%= t("slogan") %></h2>

</div>